

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span id="hover">Welcome</span></h1>
    <p>To the Auckland Pollution Web Application by Tobias Neumann.</p>

    <div class="flexcon">
    <a href="https://localhost:7082/airQualities">Air Quality</a>
    <a href="https://localhost:7082/estuaryQualities">Estuary Quality</a>
    <a href="https://localhost:7082/gWaterQualities">Ground Water Quality</a>
    <a href="https://localhost:7082/regions">Regions</a>
    </div>
</div>
