

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span id="hover">Welcome</span></h1>
    <p>To the Auckland Pollution Web Application by Tobias Neumann.</p>
</div>
